@model Bookstore.Models.BookModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detale</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tytuł
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Autor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            Kategoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            Ilość na stanie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            Rok publikacji
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year_of_publish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            Wydawca
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="SearchBooks">
    <i class="bi-arrow-left-square">  </i>Wróć do przeszukiwania książek</a>
    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-bookid="@Model.Id">
    <i class="bi-cart-plus">  </i>Dodaj książkę do koszyka</a>
</div>
