@model List<Bookstore.Models.BookModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <h1 class="display-4">Witam w księgarni Wesoła Książka!</h1>
    <tr>
        <td>
            <a class="btn btn-primary" style="margin:10px" asp-action="SearchBooks">
                Przejdź do księgarni
                <i class="bi-arrow-right-square"></i>
            </a>
        </td>
    </tr>
    <h4>Ostatnio dodane pozycje</h4>

    <div class="container rounded">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" >
                <div class="carousel-item active ">
                    <div class="card" style="font-size:large">
                        <div class="card-body">
                            <div class="card-title">
                                Tytuł: @ViewBag.item1.Title
                            </div>
                            <div class="bi-card-text">
                                Autor: @ViewBag.item1.Autor
                            </div>
                            <div class="bi-card-text">
                                Kategoria: @ViewBag.item1.Category
                            </div>
                            <div class="bi-card-text">
                                Rok publikacji: @ViewBag.item1.Year_of_publish
                            </div>
                            <div class="bi-card-text">
                                Wydawca: @ViewBag.item1.Publisher
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="font-size:large">
                        <div class="card-body">
                            <div class="card-title">
                                Tytuł: @ViewBag.item2.Title
                            </div>
                            <div class="bi-card-text">
                                Autor: @ViewBag.item2.Autor
                            </div>
                            <div class="bi-card-text">
                                Kategoria: @ViewBag.item2.Category
                            </div>
                            <div class="bi-card-text">
                                Rok publikacji: @ViewBag.item2.Year_of_publish
                            </div>
                            <div class="bi-card-text">
                                Wydawca: @ViewBag.item2.Publisher
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="font-size:large">
                        <div class="card-body">
                            <div class="card-title">
                                Tytuł: @ViewBag.item3.Title
                            </div>
                            <div class="bi-card-text">
                                Autor: @ViewBag.item4.Autor
                            </div>
                            <div class="bi-card-text">
                                Kategoria: @ViewBag.item3.Category
                            </div>
                            <div class="bi-card-text">
                                Rok publikacji: @ViewBag.item3.Year_of_publish
                            </div>
                            <div class="bi-card-text">
                                Wydawca: @ViewBag.item3.Publisher
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="font-size:large">
                        <div class="card-body">
                            <div class="card-title">
                                Tytuł: @ViewBag.item4.Title
                            </div>
                            <div class="bi-card-text">
                                Autor: @ViewBag.item4.Autor
                            </div>
                            <div class="bi-card-text">
                                Kategoria: @ViewBag.item4.Category
                            </div>
                            <div class="bi-card-text">
                                Rok publikacji: @ViewBag.item4.Year_of_publish
                            </div>
                            <div class="bi-card-text">
                                Wydawca: @ViewBag.item4.Publisher
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="bi-arrow-left-square-fill" style="color:black !important" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="bi-arrow-right-square-fill" style="color:black !important" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    
    
</div>
