
@{
    ViewData["Title"] = "OrdersList";
}

<div class="container">

    <div class="row">
        <div class="justify-content-start container"><h3>Złożone zamówienia</h3></div>
        @if (ViewBag.ifAdmin == true)
        {
            <form class="form-row container m-2 justify-content-end" method="post">
                <input class="mr-4 form-text float-left" style="width:50px" min="1" type="number" name="numberEnter" value="@ViewBag.Days" />
                <input class="btn btn-primary float-left" type="submit" asp-action="SetDays" value="Ustaw ilość dni" />
            </form>
        }
    </div>

    
    <div style="height: 500px; overflow: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Data złożenia zamówienia
                    </th>
                    <th>
                        Użytkownik
                    </th>
                    <th>
                        Książka
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < ViewBag.OrdersCount; i++)
                {
                    <tr>
                        <td>
                            @ViewBag.Dates[i]
                        </td>
                        <td>
                            @ViewBag.Users[i]
                        </td>
                        <td>
                            @ViewBag.Books[i]
                        </td>
                        <td>
                            @if (ViewBag.Accepted[i] == true)
                            {
                                <span class="mr-5" style="float:left">
                                    <form class="row" asp-route-id="@ViewBag.OrdersId[i]" asp-action="AcceptOrder">
                                        <button class="btn btn-primary mr-1" disabled="true">
                                            <i class="bi bi-check-lg">  </i>Zatwierdź
                                        </button>
                                    </form>

                                </span>
                                @if (ViewBag.PickedUp[i] == true)
                                {
                                    <span style="float:left;">
                                        <form class="row" asp-route-id="@ViewBag.OrdersId[i]" asp-action="CancelOrder">
                                            <button id="myBtn" class="btn btn-danger" disabled="true">
                                                <i class="bi bi-x-lg">  </i>Anuluj
                                            </button>
                                        </form>
                                    </span>
                                }
                                else
                                {
                                    <span style="float:left;">
                                        <form class="row" asp-route-id="@ViewBag.OrdersId[i]" asp-action="CancelOrder">
                                            @if (ViewBag.DateExpired[i] == true && ViewBag.Accepted[i] == true)
                                            {
                                                <button id="myBtn" class="btn btn-danger" disabled>
                                                    <i class="bi bi-x-lg">  </i>Anuluj
                                                </button>
                                            }
                                            else
                                            {
                                                <button id="myBtn" class="btn btn-danger">
                                                    <i class="bi bi-x-lg">  </i>Anuluj
                                                </button>
                                            }

                                        </form>
                                    </span>
                                }
                            }
                            else
                            {
                                <span class="mr-5" style="float:left;">
                                    <form class="row" asp-route-id="@ViewBag.OrdersId[i]" asp-action="AcceptOrder">
                                        <button class="btn btn-primary mr-1">
                                            <i class="bi bi-check-lg">  </i>Zatwierdź
                                        </button>
                                    </form>

                                </span>
                                @if (ViewBag.PickedUp[i] == true)
                                {
                                    <span style="float:left;">
                                        <form class="row" asp-route-id="@ViewBag.OrdersId[i]" asp-action="CancelOrder">
                                            <button id="myBtn" class="btn btn-danger" disabled="true">
                                                <i class="bi bi-x-lg">  </i>Anuluj
                                            </button>
                                        </form>
                                    </span>
                                }
                                else
                                {
                                    <span style="float:left;">
                                        <form  class="row" asp-route-id="@ViewBag.OrdersId[i]" asp-action="CancelOrder">
                                            <button id="myBtn" class="btn btn-danger">
                                                <i class="bi bi-x-lg">  </i>Anuluj
                                            </button>
                                        </form>
                                    </span>
                                }
                            }

                        </td>
                        <td>
                            @if (ViewBag.DateExpired[i] == false && ViewBag.Accepted[i] == true && ViewBag.PickedUp[i] == false)
                            {
                                <div>Zamówienie nieodebrane</div>
                                <div>w terminie.</div>
                            }
                            else
                            {
                                @if (ViewBag.Accepted[i] == false)
                                {
                                    <div>Zamówienie czeka</div>
                                    <div>na akceptacje.</div>
                                }
                                else
                                {
                                    @if (ViewBag.PickedUp[i] == false)
                                    {
                                        <div>Zamówienie czeka</div>
                                        <div>na odbiór.</div>
                                    }
                                    else
                                    {
                                        <div>Zamówienie odebrane.</div>
                                    }

                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


