@model IEnumerable<Bookstore.Models.OrderModel>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h3>Wypożyczone książki</h3>
    <div style="height: 500px; overflow: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Rok publikacji</th>
                    <th>Kategoria</th>
                    <th>Data wypożyczenia</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < ViewBag.CountOrders; i++)
                {
                    <tr>
                        <td>
                            @ViewBag.BorrowedBooks[i].Title
                        </td>
                        <td>
                            @ViewBag.BorrowedBooks[i].Autor
                        </td>
                        <td>
                            @ViewBag.BorrowedBooks[i].Year_of_publish
                        </td>
                        <td>
                            @ViewBag.BorrowedBooks[i].Category
                        </td>
                        <td>
                            @ViewBag.OrderDate[i]
                        </td>
                        @if (ViewBag.IfBool[i] == true)
                        {
                            <td>
                                <span style="float: left">
                                    <form asp-route-id="@ViewBag.Orders[i]" asp-action="PickedUp">
                                        <button class="btn btn-primary" disabled="true">
                                            <i class="bi-file-earmark-plus">  </i>Odbierz książkę
                                        </button>
                                    </form>
                                </span>
                            </td>
                            <td>
                                <span style="float: right">
                                    <form asp-route-id="@ViewBag.Orders[i]" asp-action="ReturnBook">
                                        <button class="btn btn-dark">
                                            <i class="bi-file-earmark-minus">  </i>Zwróć książkę
                                        </button>
                                    </form>
                                </span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span style="float: left">
                                    <form asp-route-id="@ViewBag.Orders[i]" asp-action="PickedUp">
                                        <button class="btn btn-primary">
                                            <i class="bi-file-earmark-plus">  </i>Odbierz książkę
                                        </button>
                                    </form>
                                </span>
                            </td>
                            <td>
                                <span style="float: right">
                                    <form asp-route-id="@ViewBag.Orders[i]" asp-action="ReturnBook">
                                        <button class="btn btn-dark" disabled="true">
                                            <i class="bi-file-earmark-minus">  </i>Zwróć książkę
                                        </button>
                                    </form>
                                </span>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
